#%RAML 1.0
title: Liftago Public API
version: v1

baseUri: https://partner-sandbox.aitinternal.org/v1/partners/{partnerId}
annotationTypes:
  javaName:
    allowedTargets: [TypeDeclaration, Method]

description: |
  Sandbox delivery API for verifying external integration.

/sandbox/deliveryRides/{rideId}/updateRideStatus:
  uriParameters:
    rideId:
      type: string
  post:
    body:
      application/json:
        type: RideStatusChangeRequest
    responses:
      204:
      400:
        body:
          application/json:
            type: MalformedInputError
      404:
        body:
          application/json:
            type: RideNotFoundError
      409:
        body:
          application/json:
            type: IncompatibleStateError

/sandbox/deliveryRides/{rideId}/updateDeliveryStatus:
  uriParameters:
    rideId:
      type: string
  post:
    description: Updates the delivery to its next stop provided the current RideStatus is ON_BOARD and more stops exists.
    responses:
      204:
      400:
        body:
          application/json:
            type: MalformedInputError
      404:
        body:
          application/json:
            type: RideNotFoundError
      409:
        body:
          application/json:
            type: IncompatibleStateError


/sandbox/deliveryRides/{rideId}/stop/{stopId}/updateStop:
  uriParameters:
    rideId: string
    stopId: string
  post:
    description: Updates the stop to provided state provided such transition is feasible
    body:
      application/json:
        type: StopUpdateRequest
    responses:
      204:
      400:
        body:
          application/json:
            type: MalformedInputError
      404:
        body:
          application/json:
            type: StopNotFoundError
      409:
        body:
          application/json:
            type: IncompatibleStateError

types:
  RideStatusChangeRequest:
    type: object
    properties:
      desiredStatus:
        enum:
          - PROCESSING
          - ACCEPTED
          - WAITING
          - ON_BOARD
          - COMPLETED
          - CANCELLED
          - REJECTED
        description: |
          - PROCESSING - ride is being processed, driver not found yet. Transitions to ACCEPTED, REJECTED or CANCELLED BY PASSENGER
          - ACCEPTED - driver found and selected. Transitions to WAITING or CANCELLED (either by DRIVER or PASSENGER)
          - WAITING - driver is waiting on pickup location. Transitions to ON_BOARD or CANCELLED (either by DRIVER or PASSENGER)
          - ON_BOARD - passenger on board. Transitions to COMPLETED
          - COMPLETED - ride finished
          - CANCELLED - ride cancelled
          - REJECTED - could not find taxi in time

  StopUpdateRequest:
    type: object
    properties:
      desiredStatus:
        enum:
          - DELIVERED
          - UNDELIVERED
      desiredTime?:
        type: datetime

  Error:
    type: object
    properties:
      code: string
      message: string

  MalformedInputError:
    type: Error
    example: {"code": "malformed_json_request", "message": "Malformed json request"}

  RideNotFoundError:
    type: Error
    example: {"code":"ride_not_found", "message":"Ride '52b4f17d-cb60-41a5-a1c5-f901167e5bdc' does not exist"}

  StopNotFoundError:
      type: Error
      example: {"code":"stop_not_found", "message":"Stop '33d6953e-f533-4d1b-bb69-3092e0b51f23' does not exist for ride 'f9852152-1754-438e-a5ab-9a614339875a'"}

  IncompatibleStateError:
    type: Error
    example: {"code":"incompatible_state", "message":"Ride '52b4f17d-cb60-41a5-a1c5-f901167e5bdc' is not in the state compatible with the requested action"}